VITE_USE_DEMO_DATA=true
VITE_GRAPHQL_ENDPOINT=https://api.example.com/graphql

# Analytics (set to # to disable)
VITE_GA4_MEASUREMENT_ID=#
VITE_META_PIXEL_ID=#

# reCAPTCHA
VITE_RECAPTCHA_V3_SITE_KEY=#
VITE_RECAPTCHA_V2_SITE_KEY=#
